<?xml version="1.0" encoding="utf-8"?>
<plugin id="azme-sample-resources" version="2.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>AZME Sample Resources</name>
  
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <platform name="android">
        <resource-file src="azme.png" target="res/drawable/azme.png" />
    </platform>

    <platform name="ios">
        <resource-file src="azme.png" />
    </platform>
</plugin>